<div id="change-password-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Change Password</h3>
      </div>

      <form id="change-password">
        <div class="modal-body">
          <fieldset>
            <div class="col-xs-4">
              <div id="form-group-change-password-old" class="form-group  has-feedback">
              <label class="control-label" for="change-password-old">Old Password</label>
            <input type="password" name="passwords[old]" id="change-password-old" class="form-control oldPw">
            <span id="change-password-old-glyphicon" class="glyphicon  form-control-feedback"></span>
            <span id="change-password-old-help-block" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
          </div>
            </div>
            <div class="col-xs-4">
              <div id="form-group-change-password-new" class="form-group  has-feedback">
              <label class="control-label" for="change-password-new">New Password</label>
            <input type="password" name="passwords[new]" id="change-password-new" class="form-control newPw">
            <span id="change-password-new-glyphicon" class="glyphicon  form-control-feedback"></span>
            <span id="change-password-new-help-block" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>
            </div>
            <div class="col-xs-4">
              <div id="form-group-change-pw-confirm" class="form-group  has-feedback">
              <label class="control-label" for="change-pw-confirm">Password Confirmation</label>
            <input type="password" id="change_password_confirmation" class="form-control password-confirm">
            <span id="sign-up-pw-confirm-glyph" class="glyphicon  form-control-feedback"></span>
            <span id="signUpPwConfirmHelpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
          </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button id="reset-sign-up" type="reset" class="btn btn-secondary reset">Reset</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
