<div id="change-password-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Change Password</h3>
      </div>

      <form id="change-password">
        <div class="modal-body">
          <fieldset>
            <input type="password" name="passwords[old]" id="change-password-old" placeholder="Old Password">
            <input type="password" name="passwords[new]" id="change-password-new" placeholder="New Password">
            <input type="password" id="change_password_confirmation" placeholder="Password Confirmation">
          </fieldset>
        </div>
        <div class="modal-footer">
          <button id="reset-sign-up" type="reset" class="btn btn-secondary reset">Reset</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
