{{> navbar}}
<div class="jumbotron">
<h1>What's On Your Mind Today?</h1>
<p class="lead">It's easy to add a note. Just click on the button and start typing away.</p>
<p>You can hi-light your favorite ideas by clicking on the favorite checkbox when you are entering your thoughts.<p>
<p><a id="note-create-btn" class="btn btn-lg btn-success" href="#" role="button" data-toggle="modal" data-target="#note-create-modal">New Note</a></p>
</div>
{{> note-create-modal}}
{{> confirm-delete-modal}}
{{> note-update-modal}}
{{> change-password-modal}}
{{> note-listing}}
