<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Note</a>
    </div>
    </div>
</nav>
<div class="jumbotron">
<h1>Jumbotron heading</h1>
<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
<p><a id="sign-up-btn" class="btn btn-lg btn-success" href="#" role="button" data-toggle="modal" data-target="#sign-up-modal">Sign up today</a></p>
<p>Or, if you already have an account<p>
<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign in</a></p>
</div>
