<!-- note-partial begin-->
            <input type="checkbox" name="note[favorite]" id="favorite-edit">
            <label for="favorite-edit">favorite?</label>
            <input type="text" name="note[note_title]" class ="note-title" placeholder="Note title" value="{{note.note_title}}">
            <input type="text" name="note[note_detail]" class="note-detail" placeholder="Note detail" value="{{note.note_detail}}">
<!-- note-partial end -->
