
<div>

{{#each notes as |note|}}
 <li class=note-container>
  <h2 data-id="{{note.id}}"> {{note.note_title}}</h2>
  <div>
    {{#if note.note_detail}}
      {{note.note_detail}}
    {{else}}
      No description.
    {{/if}}
  </div>
  <button class="btn btn-primary btn-remove-class">Remove Note</button>
</li>

{{/each}}
</div>
