<!-- note-partial begin-->
            <input type="checkbox" name="note[favorite]" class="favorite">
            <label for="favorite">favorite?</label>
            <input type="text" name="note[note_title]" class ="note-title" placeholder="Note title" value="{{note.note_title}}">
            <input type="text" name="note[note_detail]" class="note-detail" placeholder="Note detail" value={{note.note_detail}}>
<!-- note-partial end -->
