<div id="note-create-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">New Note</h3>
      </div>

      <form id="note-create" class="form-horizontal">
        <div class="modal-body">
          <fieldset id="note-create-fieldset">
            <div id="form-group-create-favorite" class="form-group">
              <div class="col-sm-offset-3 col-sm-8">
                <div class="checkbox">
                  <label>
                    <input  id="note-create-favorite" type="checkbox" name="note[favorite]"> favorite</label>
                </div>
              </div>
            </div>
            <div id="form-group-create-title" class="form-group  has-feedback">
              <label class="col-sm-3 control-label" for="note-create-title">Note Title</label>
              <div class="col-sm-8">
                <input id="note-create-title" type="text" name="note[note_title]" class="note-title form-control" placeholder="Note Title">
                <span id="create-title-glyphicon" class="glyphicon  form-control-feedback"></span>
                <span id="create-title-help-block" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="note-create-detail" class="col-sm-3 control-label">Note Detail</label>
              <div class="col-sm-8">
                <input id="note-create-detail"type="text" name="note[note_detail]" class="note-detail form-control" placeholder="Note Detail">
              </div>
          </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button id="reset-note-create" type="reset" class="btn btn-secondary reset">Reset</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
