
<div class="note-list-container">
  <ul class="note-list">
  {{#each notes as |note|}}
  <li class="note" data-id="{{note.id}}">
    <button class="btn btn-primary btn-remove-class btn-xs" role="button" data-toggle="modal" data-target="#confirm-delete-modal">
      <i class="fa fa-trash-o" aria-hidden="true"></i></button>
    <button class="btn btn-primary btn-edit-class btn-xs" role="button" data-toggle="modal" data-target="#note-edit-modal">
    <i class="fa fa-pencil" aria-hidden="true"></i></button>

    {{#if note.favorite}}
      <strong><span>{{note.note_title}}</span></strong>
    {{else}}
    <span>{{note.note_title}}</span>
    {{/if}}
  </li>
  {{/each}}
  </ul>
</div>
