<!-- note-partial begin-->
            <input id="note-edit-favorite" type="checkbox" name="note[favorite]">
            <label for="favorite-edit">favorite?</label>
            <input id="note-edit-title" type="text" name="note[note_title]" class ="note-title" placeholder="Note title" value="{{note.note_title}}">
            <input id="note-edit-detail" type="text" name="note[note_detail]" class="note-detail" placeholder="Note detail" value="{{note.note_detail}}">
<!-- note-partial end -->
