<div id="sign-in-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Sign In</h3>
      </div>

      <form id="sign-in">
        <div class="modal-body">
          <fieldset>
            <div class="row">
            <div class="col-xs-6">
              <div id="form-group-sign-in-email" class="form-group  has-feedback">
              <label class="control-label" for="sign-up-email">Email</label>
            <input type="text" name="credentials[email]" id="sign-in-email" class="form-control email">
            <span id="sign-in-email-glyphicon" class="glyphicon  form-control-feedback"></span>
            <span id="sign-in-email-help-block" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
          </div>
        </div><div class="col-xs-6">
          <div id="form-group-sign-in-password" class="form-group  has-feedback">
          <label class="control-label" for="sign-in-password">Password</label>
            <input type="password" name="credentials[password]" id="sign-in-password" class="form-control password">
            <span id="sign-in-password-glyphicon" class="glyphicon  form-control-feedback"></span>
            <span id="sign-in-password-help-block" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
          </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button id="reset-sign-in" type="reset" class="btn btn-secondary reset">Reset</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
